/*
    SASE LOGO BLUE =  #0e6db7
    SASE LOGO GREEN = #8dc83f
*/

@font-face{
    font-family: "saselogo";
    src: url('./font/Microgramma\ D\ Extended\ Bold.otf');
}

/* body{
    border-left: .4rem solid #0e6db7;
    border-right: .4rem solid #8dc83f;

} */

/* #navborder{
    border-top: 4px solid #8dc83f;
    border-bottom: 4px solid #8dc83f;
} */

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.9);
}
.navbar{
    border-top: .5rem solid #0e6db7;
    border-bottom: .4rem solid #0e6db7;
    border-left:.4rem solid #8dc83f;
    border-right:.4rem solid #8dc83f;
    
}
#house_logo{
    position:relative;
    height:35px;
    width:35px;
    bottom:1px;
}

#container{
    display: flex;
}



#search_bar{
    position: relative;
    top:-50px;
    height:1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}
#symptom_input{
    width: 70vh;
    height: 50px;
    margin-left: 10px;
    margin-right: 15px;
}
#input_label{
    background: rgba(255, 255, 255, 0.8)
}
.dropdown {
    position: relative;
    display: inline-block;
}

/* The search field when it gets focus/clicked on */
#symptom_input:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f6f6f6;
min-width: 400px;
border: 1px solid #ddd;
z-index: 1;
left:10px;
font-size: 30px;
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: lightblue}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#dropdown_scroll{
    height: 46vh;
}



#lists{
    height:1500px;
}

#lists ul{
    position: relative;
    left:1%;
    list-style: none;
    vertical-align:top;
    height:50%;
    font-size: 25px;
    width:49%;
    display: inline-block;
    border: 7px solid #0e6db7;
    /* border-top: 7px solid #0e6db7; */
    text-align: center;
    justify-content: center;
}

#lists ul h3{
    padding-top: 15px;
    padding-bottom: 5px;
    border-bottom:8px solid #0e6db7;
    font-size: 30px;
    font-weight: bold;
    background-color: #f6f6f6;
}

#header_img{
    position: relative;
    text-align: center;
}
#dna_background{
    background-color: transparent;
    width:100%;
    height:40vh;
    opacity: 100%;
    object-fit: cover;
}
#sase_logo{
    position: relative;
    width:175px;
    height:75px;
    top:10px;
    margin-right:.1rem;
}
.close{
    position: relative;
    right: 15%;
    scale: 150%;
}
/* Contact page stuff */

.headingcontact{
    text-align: center;
}

.information{
    text-align: center;
    font-size: 24px;
    line-height: 4;
}

.icons{
    max-width: 10%;
    height: auto;
}

.navbar-light .navbar-brand{
    font-size: 50px;
    font-weight: bold;
    color: #0e6db7;
    margin-right:0;
    padding-top:.1rem;
    
    /* font-family: "saselogo"; */
    display:flex;
}

.navbar-light .navbar-brand p{
    position: relative;
    top:13px;
}

.navbar-light .navbar-brand:hover{
    text-decoration: none;
    background-color: transparent !important;
    color: #0e6db7;
}

.navbar-light .navbar-nav .nav-link{
    color:black;
    font-size: 20px;
    margin:.1rem;
    /* border:4px solid #8dc83f;
    border-radius: 10%; */
    /* height:100%; */
}

.navbar-light .navbar-nav .nav-link:hover{
    background-color:#8dc83f;
    color:white;
}

form{
    margin-bottom: 0px;
    padding-bottom: 0px;
}