{% extends "base.html"%}

{%block content%}
<div class = "headingcontact">
    <h1>Contact Information</h1>
    <br></br>
    <img src="https://www.iconpacks.net/icons/1/free-mail-icon-142-thumb.png" class = "icons">
    <div class = "information">
        <p>Khoi - <a href="mailto:richard.vo2@mavs.uta.edu">richard.vo2@mavs.uta.edu</a></p>
        <p>Yongjun - <a href="mailto:yxl1510@mavs.uta.edu">yxl1510@mavs.uta.edu</a></p>
        <p>Troy - <a href="mailto:txt5235@mavs.uta.edu">txt5235@mavs.uta.edu</a></p>
        <p>Danny - <a href="mailto:danny.le3@mavs.uta.edu">danny.le3@mavs.uta.edu</a></p>
        <p>Alexis - <a href="mailto:axn4723@mavs.uta.edu">axn4723@mavs.uta.edu</a></p>
        <p>Natalie - <a href="mailto:nxm4430@mavs.uta.edu">nxm4430@mavs.uta.edu</a></p>
    </div>
</div>
  
{%endblock%}