{% extends "base.html"%}


{%block content%}
    <form method="POST">
        <div id="search_bar">
            <label>Enter Symptom Here:</label>
            <div id = "dropdown" class="dropdown">
                <input type="text" name ="symptom_input" placeholder="Search..." id="symptom_input" autocomplete="off" onkeyup="filterFunction()" onfocus="dropdown()" onblur="dropdown()">
                <div id="dropdown_search" class="dropdown-content">
                    <div id = "dropdown_scroll" style="overflow:scroll">
                        {% for symptom in symptomList %}
                            <div><a href="#" class="dropdown_item">{{symptom}}</a></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg" id="submit_symptom_btn">Submit</button>
        </div>
    </form>
    
    <div id="lists">
        <ul id = "list1" class="list-group">
            <h3>Symptoms Searched</h3>
            {% for symptom in userList %}
            <li class="list-group-item">
                {{symptom}}
                <button type="button" class="close" id={{loop.index0}}>
                    <span aria-hidden="true">&times;</span>
                </button>
            </li>

            {%endfor%}
        </ul>
        <ul id ="list2" class="list-group list-group-flush">
            <h3>Possible Diseases</h3>
            {% for disease in confirmedDiseases %}
            <li class="list-group-item">{{disease}}</li>
            {%endfor%}
        </ul>
    </div>

{%endblock%}